<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIMainStoryboardFile</key>
    <string></string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to your microphone to record your voice and transcribe speech.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app needs access to speech recognition to transcribe your voice.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app needs access to your camera to show a live video preview while you record your emotions.</string>
    <key>SUPABASE_URL</key>
    <string>https://bhhdcrogsbtharhtokpl.supabase.co</string>
    <key>SUPABASE_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoaGRjcm9nc2J0aGFyaHRva3BsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk2MTExMTMsImV4cCI6MjA2NTE4NzExM30.e81CZHcmkm4pDVYsFmeICjI-HXK7asA6Z1cDFfQijhA</string>
    <key>CFBundleURLTypes</key>
    <array>
    </array>
</dict>
</plist>