<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIAPIKey</key>
    <string>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</string>
</dict>
</plist> 